body {
    background-color: rgb(211, 211, 211);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border: 1px solid black;
    border-radius: 50%;
}

#Title, .subtitle{
    color: rgb(56, 56, 56);
}
#Title{
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 15px;
}

.subtitle{
    padding-left: 15px;
}

a {
   text-decoration: underline;
    color: rgb(56, 56, 56);
}
.post_title{
    color: black;
    font-size: 16px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 15px;
}

.post{ 
    background: rgb(255, 255, 255);
    padding: 15px;
    border: 3px solid black;
    margin: 15px;
    border-radius: 5px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}
ul li a {
    color: rgb(13, 13, 158);
}